{{define "call"}}{{with .Receiver}}{{if .IsStruct}}env.{{.Type.Value}}.{{end}}{{end}}{{.Name}}({{range $i, $el := .Parameters}}{{if $i}}, {{end}}{{if not .IsWriter}}tc.{{end}}{{Param .}}{{if .Type.IsVariadic}}...{{end}}{{end}}){{end}}
